<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pro.crazydude.binaryveda">

    <application
        android:allowBackup="true"
        android:icon="@drawable/agc"
        android:label="@string/app_name"
        android:roundIcon="@drawable/agc"
        android:supportsRtl="true"
        android:theme="@style/Theme.BinaryVeda">

        <activity android:name=".activity.ProfileActivity"
            android:configChanges="screenLayout|orientation|screenSize"/>

        <activity android:name=".activity.MainActivity"
            android:configChanges="screenLayout|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>